# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# macOS system files
.DS_Store
.gitignore

# VSCode settings
.vscode/


# Ignore all .env files anywhere in the repo
**/.env

# Ignore all .cfg files anywhere in the repo
**/*.cfg

# Ignore backup files any where 
**/*.bkp
*config*.py
__pycache__
pycaret_env

viz/